<%- include("partials/header")%>
<div class="container">
  <h3><%=campground.name%></h3>
  <img src="<%=campground.image%>" alt="Unable to load image">
  <p><%=campground.description%></p>
</div>
<%- include("partials/footer")%>